<div class="col-md-6 offset-md-3">
    <div style="height: 75vh; display: flex; flex-direction: column; align-items: center; justify-content: center;" class="jumbotron">
    <h2 style="text-align: center;">About The Site</h2>
    <p style="margin-top: 50px; text-align: center">Hi there! My name's Payton. This is a simple app I built with <a href="https://rubyonrails.org">Ruby On Rails</a> to help you keep track of stock prices. You can add, edit, and delete the stocks you want to watch!</p>
    </div>
</div>